* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
body {
  background-color: #1c77c3;
}
.screen {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#screen1 h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
}
#screen1 button {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  border: 2px solid #f39237;
  background-color: #f39237;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
}
#screen1 button:hover {
  background-color: #fff;
  color: #000;
}
#screen1 .blob{
    width: 60%;
    top: -20%;
    position: absolute;
    z-index: -1;
}


#screen2,
#screen3 {
  display: none;
}
.timer {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  border-radius: 50%;
  background: #f39237;
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: 0;
}
.content {
  background: #40bcd8;
  width: 50vw;
  text-align: center;
  position: relative;
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 0.5rem;
}
.question {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.qa {
  padding: 2rem;
  font-size: 1.2rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
}
.options label {
  width: 47%;
  margin: 1%;
}
.options label span {
  display: inline-block;
  padding: 0 0.25rem;
}
